@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

html,
body {
  background-color: $black;
  color: $green;
  margin: 0;
  padding: 0;
  padding-top: $main-padding;
  text-align: center;
}

body {
  font-weight: 400;
}

button {
  display: block;
  margin: 0 auto;
  border: 4px solid transparent;
  background-color: $green;
  padding: $main-padding calc($main-padding * 2);
  text-transform: uppercase;
  cursor: pointer;
  &:hover,
  &:focus {
    border: 4px solid $green;
    background-color: $black;
    color: $green;
  }
  &:disabled {
    &:hover {
      border: 4px solid transparent;
      background-color: $green;
      color: revert;
      cursor: auto;
    }
  }
}

h1 {
  font-size: 20px;
  text-align: center;
}

textarea {
  border: 3px solid $black;
  width: 90%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background-color: $green;
  padding: $main-padding;
  &:disabled {
    background-color: #a5a2a2;
  }
}
p {
  border: 1px solid $green;
  padding: 20px;
}
