.quote {
    & span {
        color: $helper-color2;
        line-height: 1.3;
    }
    .correct {
        color: $primary-color;
    }
    .incorrect {
        color: $accent-color;
        text-decoration: underline;
    }
}